/* 
========
Fonts
========
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
========
Variables
========
*/

:root{
    --dark-hue: 185deg;
    /* dark shades of primary colors */
    --clr-primary-1:hsl(var(--dark-hue) 91% 17%);
    --clr-primary-2:hsl(var(--dark-hue) 84% 25%);
    --clr-primary-3:hsl(var(--dark-hue) 81% 29%);
    --clr-primary-4:hsl(var(--dark-hue) 77% 34%);

    /* main  primary color */
    --clr-primary-5:hsl(var(--dark-hue) 62% 45%);

     /* lighter shades of primary colors */
     --clr-primary-6:hsl(var(--dark-hue) 57% 50%);
     --clr-primary-7:hsl(var(--dark-hue) 65% 59%);
     --clr-primary-8:hsl(var(--dark-hue) 80% 74%);
     --clr-primary-9:hsl(var(--dark-hue) 94% 87%);
     --clr-primary-10:hsl(var(--dark-hue) 100% 94%);


     --grey-hue:210deg;

     /* darkest grey for heading */
     --clr-grey-1:hsl(var(--grey-hue) 61% 16%);
     --clr-grey-2:hsl(var(--grey-hue) 39% 23%);
     --clr-grey-3:hsl(var(--grey-hue) 34% 30%);
     --clr-grey-4:hsl(var(--grey-hue) 28% 39%);

     /* grey used for paragrapg */
     --clr-grey-5:hsl(var(--grey-hue) 22% 49%);
     --clr-grey-6:hsl(var(--grey-hue) 23% 60%);
     --clr-grey-7:hsl(var(--grey-hue) 27% 70%);
     --clr-grey-8:hsl(var(--grey-hue) 31% 80%);
     --clr-grey-9:hsl(var(--grey-hue) 33% 89%);
     --clr-grey-10:hsl(var(--grey-hue) 36% 96%);
     --clr-white:hsl(0 0% 100%);


     /* font-family */
     --ff-primary:'Lato', sans-serif;


     --spacing:.25rem;
     --radius: .5rem;
     --transition: all .3s ease-out;

}


/* 
=======
global styles
=======
*/

*,*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
  
    /* border:solid; */
}

::-moz-selection { color: white;  background: var(--clr-primary-4); }
::selection      { color: white;  background: var(--clr-primary-4); } 


html,body{
    height:100%;
}

body{
    font-family: var(--ff-primary);
    background:var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: .875rem;
    overflow-y:scroll ;
    overflow-x: hidden;
}

ul{
    list-style: none;
}
a{
    text-decoration:none;
}
img{
    width:100%;
    display:block;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: var(--spacing);
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom:.75rem;
}
h1{
    font-size: 2.9rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: .867rem;
}
p{
    margin-bottom: 32px;
    color: var(--clr-grey-5);
}

@media (min-width:850px){
    h1{
        font-size:4rem;
    }
    h2{
        font-size:2.7rem;
    }
    h3{
        font-size:1.75rem;
    }
    h4{
        font-size:1rem;
    }
    body{
        font-size:1rem;
    }
    h1,h2,h3,h4{
        line-height: 1;
    }
}

/* 
======
global classes
======
*/

.btn{
    text-transform: capitalize;
    background:var(--clr-primary-5);
    color:var(--clr-white);
    padding:6px 12px;
    transition: var(--transition);
    font-size: .875rem;
    border:2px solid transparent;
    cursor:pointer;
    box-shadow: 0px 1px 3px hsl(0 0% 0% /.2);
   
}

.btn:hover{
    background-color: var(--clr-primary-8);
    color:var(--clr-primary-1);
    transform: translateY(-3px);
}

@media (min-width:850px){
.btn::before{
    content: '';
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    top: 0px;
    left: 0px;
    transition: all .3s linear;
    opacity: 1;
    z-index: -1;
    
}
.btn:hover::before{
    transform: scale(1.7 ,1.7);
    color: white;
    opacity: 0;
}
}

.max-content-wrapper{
    padding: 0 10px;
    max-width: 800px;
}

h2{
    text-transform: uppercase;
}
 h2 span{
    color:var(--clr-primary-5);
}

/* 
=======
header
=======
*/

#home{
    height: 100%;
}

/* 
=======
navbar
=======
*/

header .navbar{
    height: 60px;
    z-index: 999999;
    width:100%;
    position:fixed;
    background-color: var(--clr-white);
    box-shadow: 0 10px 10px hsl(var(--grey-hue) 61% 16% /.15) ;
}

.navbar .content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:0 32px;
}

.navbar .list-wrapper{
    display: none;
    justify-content: center;
    align-items: center;
    

}
.list-wrapper ul{
    display: flex;  
}

.list-wrapper ul li{
    margin-right: 10px;
}

.list-wrapper ul a{
    color: var(--clr-primary-1);
    font-size: 1.1rem;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.icon-hamburger{
    color: var(--clr-primary-5);
   font-size: 30px;
}

.icons{
    color:var(--clr-primary-5);
    font-size: 1.2rem;
    display: none;
}

.icons .icon{
   margin-right: 10px;
}

/* max tablet and furter */
@media (min-width:850px){

    .navbar .content-wrapper{
        justify-content: space-around;
        padding:0;
    }
    .navbar .list-wrapper{
        display: flex;
    }
    .icon-hamburger{
        display: none;
    }
    .icons{
        display: initial;
    }
}



/* 
=======
hero
=======
*/

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,var(--clr-primary-5),var(--clr-primary-2)) ;
    min-height: 100%;
}

.hero-banner{
    text-align: center;
    width: fit-content;
   
}

.hero-banner h1{
    color: var(--clr-white);
    text-transform: uppercase;
}
.hero-banner p{
    color: var(--clr-white);
    letter-spacing: 4px;
}
/* .btn-wrapper{
    isolation: isolate;
} */
.hero-btn{
    background-color: var(--clr-white);
    color:var(--clr-primary-5);
    font-size:1.3rem;
    padding:16px 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    
}
.hero-btn:hover{
    border:3px solid var(--clr-white);
    background: transparent;
    color:var(--clr-white); 
}


/* min tablet styles */
@media (min-width:550px){
    .hero-banner p{
        padding:0 40px;
    }
}

/* max tablet styles */
@media (min-width:850px){
   .hero{
    background: linear-gradient(hsl(var(--dark-hue) 81% 29% /.8),rgb(0,0,0,.5)),url('../images/main.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
}


/* 
=======
main
=======
*/

#main{
    isolation: isolate;
}

/* 
=======
 section about
=======
*/

.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 72px 12px;
    position: relative;
}


.about-img-wrapper{
    max-width: 570px;
    margin:32px 0;
    
}

.about-content-wrapper{
    max-width: 570px;
}
.about-btn{
    width: fit-content;
    padding: 4px 16px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    position: relative;
}
.about-btn::before{
    background:var(--clr-primary-5);
    color:var(--clr-white);
}

/* min desktop */
@media (min-width:1100px){
    .about__img-and-content-wrapper{
        display: flex;
        justify-content: space-evenly;  
    }
    .about-content-wrapper{
        margin-left:60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .about-content-wrapper{
        transition: all .4s ease-in-out;
        position: relative;
        left: 1000px;
    }
    .about-img-wrapper{
        transition: all .4s ease-in-out;
        position: relative;
        left: -1000px;
    }
    

    .about h2{
        position: relative;
        left:-1000px;
        transition: all .3s ease-in-out;
    }

    .about .originate{
        left: 0;
        right: 0;
    }
    
}

/* for outline */

@media (min-width:1250px){
    .about-img-wrapper::before{
        content: '';
        position: absolute ;
        height: 100%;
        width: 100%;
        border: 10px solid var(--clr-primary-5);
        top: -32px;
        left:-32px;
        display: block;
    }
     .about-img-wrapper {
        position: relative;
       
    } 
    .about-img-wrapper:hover img{
               top: -32px;
               left: -32px;
               transform: scale(.9);
               
    }
    .about-img-wrapper img{
        position: relative;
        z-index: 2;
        transition: all .4s ease-in-out;
        top:0;
        left: 0;
    }
}


/* 
=========
servicess
========
*/
*{
    /* border:solid; */
}
#services{
    background: var(--clr-grey-10);
    padding:60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    isolation: isolate;
}
#services h2{
    margin-bottom:60px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    
}
.content{
    max-width: 400px;
}
.services-wrapper{
    padding: 0 10px;
    text-align: center;
}
.services-wrapper p{
    padding: 0 20px;
}

.services-wrapper i{
    background: linear-gradient(to bottom right,var(--clr-primary-5),var(--clr-primary-6));
    font-size: 30px;
    padding: 16px 12px;
    color: var(--clr-primary-1);
    margin-bottom: 16px;
}

/* max tablet and so on */

@media (min-width:1100px){
    .services-wrapper{
        display: flex;
        justify-content: space-around;
        text-align: left;
    }   
    .content{
        display: flex;
    }
    .services-wrapper i{
      margin-right:16px;
      padding:20px 20px;
    }
    .services-wrapper p{
        padding:0;
    } 
}



